* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FF9CE3;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23FF9CE3'/%3E%3Cstop offset='1' stop-color='%23B876FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23ff99e9'/%3E%3Cstop offset='1' stop-color='%23b277ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23ff95f0'/%3E%3Cstop offset='1' stop-color='%23ad78ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23ff92f8'/%3E%3Cstop offset='1' stop-color='%23a779ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23fe8eff'/%3E%3Cstop offset='1' stop-color='%23a27aff'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23f68bff'/%3E%3Cstop offset='1' stop-color='%239c7bff'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23ed87ff'/%3E%3Cstop offset='1' stop-color='%23977cff'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23e384ff'/%3E%3Cstop offset='1' stop-color='%23927dff'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23d980ff'/%3E%3Cstop offset='1' stop-color='%238d7eff'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23cf7dff'/%3E%3Cstop offset='1' stop-color='%23887fff'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23c479ff'/%3E%3Cstop offset='1' stop-color='%238380ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23B876FF'/%3E%3Cstop offset='1' stop-color='%238184FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    list-style: none;
}

a {
    font-size: 20px;
    color: #1f1f20;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color: #900cfc;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
}

.container {
    max-width: 65%;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        max-width: 85%;
        width: 100%;
        margin: 0 auto;
    }
}


@media (max-width: 700px) {
    .container {
        max-width: 95%;
        width: 100%;
        margin: 0 auto;
    }
}
#page-wrapper {
    position: relative;
}

.btn {
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px #567ebb;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    color: #dce0e6;
}

.grid {
    display: flex;
}

p {
    margin-top: 10px;
    font-size: 18px;
}

#tittle {
    margin-top: 0;
    font-size: 55px;
    margin-left: 30px;
    font-family: monospace;
    font-style: oblique;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
    position: fixed;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d1d9e6;
}

.logo {
    display: flex;
    align-items: center;
    ;
    width: 49vw;
}

.logo>img {
    width: 35%;
    height: 100%;
    max-width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 30px;
}

h1 {
    font-size: 30px;
    font-style: oblique;
    color: rgb(0, 0, 0);
}

nav {
    font-weight: 0;
}



nav>ul {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.navbar {
    display: flex;
    flex-direction: row;
}

h3 {
    text-decoration: underline;
    font-size: 25px;
}

/*---------------------------Caracteristas------------------------------*/
#caracteristicas {
    margin-top: 120px;
}
@media (max-width: 1200px) {
    #caracteristicas{
        
        margin-right:60px;
    }
    
}
@media (max-width: 900px) {
    #caracteristicas {
        margin-top: 160px;
        margin-right:0 px;
    }

    #caracteristicas .text {
        margin: 15px;
    }
    #caracteristicas {
            margin-top: 160px;
        }
    #caracteristicas .text{
        margin:25px;
    }
    nav>ul {
        flex-direction: column;    
        padding-right: 50px;
    }
    nav {
        margin-top: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: end;
        
        padding: 0 50px;
    }

    nav li {
        padding-bottom: 5px;
    }
}


#caracteristicas .icons {
    display: flex;
    align-items: center;
    justify-content: center;

}

.icons>img {
    width: 45%;
}

#caracteristicas .grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 45px;
}

#caracteristicas .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

#caracteristicas .text p {
    text-align: justify;
}

@media (max-width: 700px) {
    #caracteristicas .grid {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 25px 20px 0 20px;
    }
    .icons>img {
        width: 30%;
    }
    #caracteristicas .text {
        width: 85%;
        text-align: center;
        padding: 0;       
    }
        #caracteristicas {
        margin-top: 160px;
    }

    #caracteristicas .text {
        margin: 35px;

    }
}



/* ---------------------------------Demostracion-------------------------------*/
#demostracion {
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video {
    margin-top: 25px;
    margin-bottom: 35px;
}

h4 {
    font-size: 18px;
}
@media (max-width: 1200px) {
    iframe {
        height: 420px;
        width: 780px;
    }
}
@media (max-width: 850px) {
    iframe{
        height: 315px;
        width: 585px;
    }
}
@media (max-width: 650px) {
    iframe {
        height: 210px;
        width: 390px;
    }
}

/*-----------------------------------productos-------------------------------------*/
#cubos {
    margin-top: 35px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.products-images>img {
    width: 175px;
    height: 175px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 15px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.product>.level {
    background-color: #d1d9e6;
    color: #1f1f20;
    padding: 20px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product>h2 {
    margin-top: 15px;
    text-align: center;
    color: #1f1f20;
}

.product>ol {

    margin: 5px 0;
    text-align: start;
}

.product>ol>li {
    padding: 5px 0;
}

.product>button {
    border: 0;
    margin: 15px 0;
    background-color: #1f4c91;
    font-weight: 400;
}

.product>button:hover {
    background-color: #390067;
    transition: background-color 0.5s;
}


@media (max-width: 900px) {
    #cubos {
        flex-direction: column;
    }
    

    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-top: 35px;
        margin-bottom: 10px;
    }
}
/*---------------------------------complementos----------------*/
#complementos {
    margin-top: 35px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media (max-width: 900px) {
    #complementos {
        flex-direction: column;
    }
}

/*-------------------------------------form--------------------------*/

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}


#hero>h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

#hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #1f4c91;
}

#hero input[type='submit']:hover {
    background-color: #390067;
    transition: background-color 1s;
}


/*----------------------------footer-------------------------*/

footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}

footer>ul {
    display: flex;
    justify-content: flex-end;
}

footer>ul>li {
    padding: 0 10px;
}

footer>span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}

span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
